---
import * as React from "react";

// Components Imports
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.svelte";

interface Food {
  id: number;
  name: string;
  price: number;
  description: string;
  image: string;
  ingredients: string[];
}

const myFavoriteFood = [
  {
    id: 1,
    name: "Pizza",
    price: 15,
    description: "A delicious pizza",
    image: "https://www.pizza.com/assets/pizza.png",
    ingredients: ["tomato", "cheese", "dough"],
  },
  {
    id: 2,
    name: "Hamburger",
    price: 10,
    description: "A delicious hamburger",
    image: "https://www.burgerking.com/assets/burger.png",
    ingredients: ["beef", "cheese", "bread"],
  },
  {
    id: 3,
    name: "Hotdog",
    price: 8,
    description: "A delicious hotdog",
    image: "https://www.hotdog.com/assets/hotdog.png",
    ingredients: ["sausage", "bread"],
  },
];

---
<Layout title="My Favorite Food">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <h1 class="text-center">My favorite food</h1>
            <Button client:load/>
        </div>
        </div>
        <div class="row">
        
        </div>
    </div>
</Layout>